

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 212, 172);
  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  .imgChem {
    width: 600px;
    height: auto;
    border-radius: 10px;
  }
  
  .display1 {
    display: flex;
    gap: 10px;
    text-decoration: none;
  }
  
  .btn, .btn2, .btn3, .btn4 {
    padding: 10px 20px;
    background-color: #6c63ff;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .btn:hover,
  .btn2:hover,
  .btn3:hover,
  .btn4:hover {
    background-color: #574fd6;
  }
  @media (max-width: 768px) {
    .imgChem {
      width: 100%;
    }
  
    .display1 {
      flex-direction: column;
      align-items: center;
    }
  
    .btn, .btn2, .btn3, .btn4 {
      width: 80%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .btn, .btn2, .btn3, .btn4 {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
    
